




/* root */
:root {
    --main-bg-colour: #000;
    --main-bg: url("https://wallpaperaccess.com/full/686946.jpg");

    --main-font-colour:#fff ;
    --secondary-font-colour:rgb(190, 190, 190);
    --main-font-family: 'Roboto', sans-serif;

    --link-font-size: clamp(1rem, 2.5vw, 1.3rem); 
    --link-font-weight: 300;
    --logo-font-size: 1.8em;
    --logo-font-weight: 600;
    --title-font-size: clamp(7em, 6.5em, 8.5em);
    --title-font-weight: 800;

    --link-text-color-hover: #000;
    --link-background-color-hover: #fff;
    
    --button-bg:#000;
    --button-border:1px #fff;
}

/* globals*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: var(--main-bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    
    
}
li {
    list-style: none;
    font-family: var(--main-font-style);
    color: var(--main-font-colour);
    font-size: var(--link-font-size);
    font-weight: var(--link-font-weight);
}
button {
    font-family: var(--main-font-family);
}

a:link, a:visited{
    text-decoration: none;
    color: white;
}

/* 1.0 Navbar */

/* hidden logo and toggle styling */
label { 
    color:var(--main-font-colour);
    display: none;
}
#toggle {
    display: none;
}

.hidden_container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.hiddenLogo {
    display: none;

    margin-right: auto;
    font-size: var(--logo-font-size);
    font-weight: var(--logo-font-weight);
    color: var(--main-font-colour);
}
/* hidden logo and toggle styling END */
.nav-bar {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

li.leftNav {
    margin-right: auto;
    font-size: var(--logo-font-size);
    font-weight: var(--logo-font-weight);
}

.leftNav{
    margin-left: 5rem;
    margin-top: -0.47rem;
    flex-shrink: 0;
}

.dropdown {
    margin-left: auto;
}

.rightNav:last-child  {
    margin-right: 7.2rem;
}

/* hover effect on links */
a.left {
    position: relative;
    
}

a.left::before {
    content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover::before {
    visibility: visible;
    width: 100%;
    
}
/* hover effect on links END */

/* text search input styling */
input, textarea{
    background-color: var(--main-bg-colour);
    color: var(--main-font-colour);
    border: solid white;
}

/* drop down menu language */
.dropdown {
    position: relative;
    display: flex;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--main-bg-colour);
    min-width: 1rem;
    box-shadow: 0px 8px 16px 0px rgba (0, 0, 0, 0.2);
    z-index: 1;
    transition: all 250ms ease 0s;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-link, .rightNav-dropdown {
    padding: 0.25rem 1rem;
    margin-top: -0.3rem;
    flex-shrink: 0;
    
}


.dropdown-link:hover {
background-color: var(--link-background-color-hover);
color: var(--link-text-color-hover);

}

.dropdown-link{
    width: max-content;
    padding: 0.5rem 1rem;
}
.dropdown-link:first-child{
    width: max-content;
    padding: 0.25rem 1rem;
}

/* drop down menu language END */

button.rightNav{
    background: none;
    color: var(--main-font-colour);
    border-color: var(--button-border);
    border-style: solid;
    border-image: initial;
    outline: 2px solid #fff;
    border: 2px solid #fff;
    outline-offset: -2px;
    font-size: inherit;

    transition: outline-offset 250ms ease 0s;
    flex-shrink: 0;
}
button.rightNav:hover,
button.rightNav:focus {
    outline-offset: 4px;
}
/* 1.0 Navbar END */


@media only screen and (max-width: 1182px) {
    .hiddenLogo {
        display:flex;
        align-content: center;
        justify-content: center;
        gap: 5rem;
        font-size: var(--logo-font-size);
        font-weight: var(--logo-font-weight);
        color: var(--main-font-colour);
    }

    input[type="checkbox"].toggle {
        opacity: 0;
    }


    label {
        color:var(--main-font-colour);
        font-size: var(--logo-font-size);
        display: flex;
        align-content: center;
        justify-content: center;
    }
    #toggle {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .nav-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        margin-left: -200%;
        margin-bottom: -35rem;
        
       
    }

    .dropdown, .rightNav-dropdown {
        display: block;
        margin: 0;
    }

    .rightNav:last-child {
        margin:0rem;
    }

    li.leftNav {
        display: none;
        margin: 0rem;
    }

    #toggle:checked ~ .nav-bar {
        margin-left: 0;
        backdrop-filter: contrast(80%) blur(2px);
        transition: margin-left 0.6s, margin-bottom 0.5s, backdrop-filter 1s;
        padding-bottom: 2.5rem;
        padding-top: 2.5rem;
        margin-bottom: 0rem;
    }


    /* 2.0 head section */
    .image-container {
        margin-top: -0%;
        flex-direction: column;
    }
        .header-image1 {
        background-image: url("https://placeimg.com/640/480/tech?t=1647198714527");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        padding: 25%;
    }
    .header-image2 {
        background-image: url("https://placeimg.com/640/480/nature?t=1647194987815");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        padding: 25%;
    }
    
    .header-image3 {
        background-image: url("https://placeimg.com/640/480/arch");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        
        padding: 25%;
    }
    
    .header-image4 {
        background-image: url("https://placeimg.com/640/480/tech?t=1647198701415");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        padding: 25%;
    }
}
/* media screen ENDS */


/* header text/main image */
/* left hand side of header */
.header-section {
    display: flex;
    margin: 10rem 5rem 0rem 5rem;
}

.left-container {
    margin-right: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 2;
}

.header-mini-container {
    display: flex;
    align-items: center;

    margin-top: 5rem;
}
.get-started {
    font-size:var(--logo-font-size);
}

.get-started-arrowIMG {
    filter: invert(1);
}

.header-title {
    color: var(--main-font-colour);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    display: flex;
    flex-wrap: wrap;
   
}

.header-text {
    display: flex;
    max-width: 60ch;
    color: var(--secondary-font-colour);
    
}

.main-image {
    margin-top: -5.5rem;
    filter: saturate(0) brightness(110%);
    width: 100%;
    height: 80vh;
    object-fit: cover;
}


/* 3.0 main body */
    .image-container {
        display: flex;
        justify-content: center;
        align-content: center;

        margin: 5rem;
        gap: 1rem;
        flex-grow: 0;
        flex-wrap: wrap;
    }
    
    .body-image1 {
        background-image: url("https://placeimg.com/640/480/tech?t=1647198714527");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        padding: 7.5rem 10rem;
    }
    .body-image2 {
        background-image: url("https://placeimg.com/640/480/nature?t=1647194987815");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        padding: 7.5rem 10rem;
    }
    
    .body-image3 {
        background-image: url("https://placeimg.com/640/480/arch");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        
        padding: 7.5rem 10rem;
    }
    
    .body-image4 {
        background-image: url("https://placeimg.com/640/480/tech?t=1647198701415");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        padding: 7.5rem 10rem;
    }

    